* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.header {
  width: 100%;
  background: #ec7000;
  padding: 24px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

.header nav ul {
  display: flex;
  gap: 16px;
}

.header nav ul li {
  display: flex;
  align-items: center;
}

.header nav ul li a {
  font-size: 18px;
  color: #fff;
  line-height: 28px;
  transition: all 0.3s;
  position: relative;
}

.header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0;
  background: #fff;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}

.header nav ul li a:hover::after {
  width: 100%;
}

.header nav .logo {
  display: flex;
  align-items: center;
}

.header nav .logo:hover span {
  filter: brightness(0.85);
}

.header nav .logo .super {
  text-transform: uppercase;
  background: #fff;
  color: #ec7000;
  padding: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 21px;
  transition: all 0.3s;
}

.header nav .logo .imagem {
  font-size: 21px;
  padding: 0 8px;
  color: #fff;
  border: 1px solid #fff;
  height: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.3s;
}

.main {
  padding: 24px;
}

.title {
  text-align: center;
  margin-bottom: 32px;
  color: #ec7000;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.content .banner {
  margin-bottom: 32px;
}

.content .banner,
.content .banner-reverse {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content .banner-reverse {
  flex-direction: row-reverse;
}

.content .banner .banner-text p,
.content .banner-reverse .banner-text p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 28px;
}

.content .banner .banner-image,
.content .banner .banner-text,
.content .banner-reverse .banner-image,
.content .banner-reverse .banner-text {
  width: 50%;
  overflow: hidden;
}

.content .banner .banner-image,
.content .banner-reverse .banner-image {
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border: 1px solid #ec7000;
  height: 300px;
}

.content .banner .banner-image img,
.content .banner-reverse .banner-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.input-container {
  max-width: 600px;
  margin: 0 auto;
}

.input-container input {
  width: 100%;
  margin-bottom: 16px;
  height: 48px;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 16px;
}

.input-container label {
  margin-bottom: 4px;
  display: block;
  font-weight: bold;
}

.input-container button {
  width: 100%;
  height: 48px;
  background: #ec7000;
  border: none;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
}

.menulist {
  display: none;
}

table {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}

table tbody tr:nth-child(2n + 1) {
  background: #ec7000;
  color: white;
}

table td,
table th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
